@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'swiper/css';
@import 'swiper/css/navigation';
@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Cormorant+Garamond:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.bubbler-font {
    font-family: 'Bubblegum Sans', cursive;
  }
  .special-font {
    font-family: 'Playfair Display', serif;
  }